/* Variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mohave', sans-serif;
}

html {
    --bg-color: #242038d7;
    --primary-color: #47126b;
    --secondary-color: #6d23b6;
    --hover-color: #ac46a1;
    --light-color: #ea698b;
    --white-color: #ffffff; 
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.05;
    pointer-events: none;
    background: url(../img/background-noise.jpg);
    overflow: hidden;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1700px;
    z-index: 10;
    
}

.text {
    overflow: hidden;
    order: 0;
    background: url(../img/bg-video2.gif);
    background-repeat: repeat;
    background-position: center;
    background-size: 1800px;
    background-clip: border-box;
    font-size: 212px;
    font-weight: 700;
    font-family: 'Mohave', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 10;
    letter-spacing: 10;  
}


.iso img {
    width: 60px;
    padding-bottom: 60px;
    z-index: 10;
}

.icons-collection {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 70px;
}

.icons {
    align-items: center;
    justify-content: center;
    width: 50px;
    filter: grayscale();
}


.icons:hover {
    filter: none;
}


@media (min-width: 320px) and (max-width: 425px) {
    body {
        overflow: clip;
    }
    
    .text-container {
        width: 420px;
    }

    .text {
        font-size: 50px;
    }

    .icons-collection {
        width: 200px;
    }

    .icons {
        width: 10%;
        height: 10%;
        filter: none;
    }

    .icons:nth-child(3) {
        width: 10%;
        height: 10%;
    }

}

@media (min-width: 600px) and (max-width: 1024px) {
    .text-container {
        width: 520px;
    }

    .text {
        font-size: 80px;
    }

    .icons-collection {
        width: 200px;
    }

    .icons {
        width: 20%;
        height: 20%;
        filter: grayscale();
    }

    .icons:nth-child(3) {
        width: 20%;
        height: 20%;
    }

}