/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mohave", sans-serif;
}

html {
  --bg-color: #242038d7;
  --primary-color: #47126b;
  --secondary-color: #6d23b6;
  --hover-color: #ac46a1;
  --light-color: #ea698b;
  --white-color: #ffffff;
  --high-color: #FFED6C;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

/* Background */
.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.05;
  pointer-events: none;
  background: url(../img/background-noise.jpg);
  overflow: hidden;
}

/* Main content */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 1.875rem, 100rem);
  margin-inline: auto;
  z-index: 10;
}

.name {
  color: var(--white-color);
}

.name-msg {
  font-size: 4rem;
  color: var(--white-color);
  z-index: 20;
  text-align: center;
}

.message {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--light-color);
  text-align: center;
}

.text {
  overflow: hidden;
  order: 0;
  background: url(../vid/bg-video4.gif);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  font-size: 10rem;
  font-weight: 700;
  font-family: "Mohave", sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 10;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
}

.iso img {
  width: 5rem;
  padding-bottom: 60px;
  z-index: 10;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.link-backHome {
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.7rem;
}

.link-backHome::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--light-color);
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.25s;
}

.link-backHome:hover::before {
  scale: 1;
  transform-origin: left;
  color: var(--secondary-color);
}

/* Icons Section */
.icons-collection {
  /*     border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  height: 70px;
}

.icons {
  align-items: center;
  justify-content: center;
  width: 17%;
  height: 100%;
  filter: grayscale();
  /*     border: 1px solid yellow; */
}

.icons:hover {
  filter: none;
}

/* Button Contact Me */
.button-container {
  display: flex;
  margin: 0 auto;
  justify-content: end;
  padding: 1rem 15rem 1rem 0;
  width: 100%;
  /*     border: 1px solid yellow; */
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-size: 1rem;
  background: none;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  /*         border: 1px solid yellow; */
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  translate: calc(100% + 1.7rem) -50%;
  width: 45px;
  height: 45px;
  background: var(--hover-color);
  border-radius: 50px;
  transition: translate 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2),
    width 0.25s cubic-bezier(0, 0, 0.5, 2);
}
.button:hover::before {
  width: 100%;
  translate: -18px -50%;
  transition: translate 0.25s cubic-bezier(0, 0, 0.5, 2),
    width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}
.button i {
  margin-left: 5px;
  transition: translate 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
}
.button:hover i {
  translate: 3px 0;
}

/* MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--white-color);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1rem;
  margin-top: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 10px; /* Rounded borders */
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  height: 10rem;
}

button[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #47126b;
  color: #fff;
  border: none;
  border-radius: 10px; /* Rounded borders */
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #6d23b6;
}

/** MEDIA QUERY **/
/** 1- 320**/
@media (min-width: 320px) and (max-width: 599px) {
  .name-msg {
    font-size: 1.5rem;
    color: var(--white-color);
    z-index: 20;
    text-align: center;
  }

  .message {
    font-size: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: var(--light-color);
    text-align: center;
  }

  .text-container {
    max-width: 18rem;
  }

  .text {
    font-size: 3rem;
  }

  .iso img {
    width: 2rem;
    padding-bottom: 1.2rem;
  }

  .icons-collection {
    width: 12rem;
  }

  .icons {
    width: 20%;
    height: 100%;
    filter: none;
  }

  .icons:nth-child(4) img {
    width: 100%;
  }

  .button-container {
    width: 100%;
    /*     border: 1px solid red; */
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .button {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    /* border: 1px solid yellow; */
  }

  .link-backHome {
    margin: 1rem 0;
    font-size: 1rem;
  }
}

/** 2- 600**/
@media (min-width: 600px) and (max-width: 1024px) {
  .name-msg {
    font-size: 3rem;
    color: var(--white-color);
    z-index: 20;
    text-align: center;
  }

  .message {
    font-size: 1.2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: var(--light-color);
    text-align: center;
  }

  .text-container {
    max-width: 30rem;
  }

  .text {
    font-size: 5rem;
  }

  .iso img {
    width: 3rem;
    padding-bottom: 1.5rem;
  }

  .icons-collection {
    width: 20rem;
  }

  .icons {
    width: 20%;
    height: 20%;
    filter: none;
  }

  .icons:nth-child(4) img {
    width: 100%;
  }

  .button-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  .link-backHome {
    margin: 2rem 0;
    font-size: 1rem;
  }
}

/** 3- 1025**/
@media (min-width: 1025px) and (max-width: 1366px) {
  .name {
    font-size: 3rem;
  }

  .name-msg {
    font-size: 3.5rem;
    color: var(--white-color);
    z-index: 20;
    text-align: center;
  }

  .message {
    font-size: 1.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: var(--light-color);
    text-align: center;
  }

  .text-container {
    max-width: 40rem;
  }

  .text {
    font-size: 5rem;
  }

  .iso img {
    width: 2.5rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    z-index: 10;
  }

  .icons-collection {
    width: 15rem;
  }

  .icons {
    width: 20%;
    height: 20%;
    filter: grayscale();
  }

  .icons:nth-child(4) img {
    width: 100%;
  }

  .button-container {
    width: 100%;
    /*     border: 1px solid red; */
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  /* Modal form */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  .link-backHome {
    margin: 2rem 0;
    font-size: 1.5rem;
  }
}

/** 4- 768 portrait**/
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* Modal form */
  .modal-content {
    background-color: #fefefe;
    margin: 35% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
}
